@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700");
*{margin: 0; padding: 0; box-sizing: border-box;}
body{font-family: 'Roboto', sans-serif; font-size: 10px;}
a{text-decoration: none;}
div#header{width: 100%; height: 50px; background-color: #2c3e50; margin: 0 auto;}
.logo{float: left; margin-top: 10px; margin-left: 10px;}
.logo a{font-size: 1.6em; color: #fff;}
.logo a span{font-weight: 300;}
div#container{width: 100%; margin: 0 auto; height: auto;}
.sidebar{width: 150px; height: 100%; background-color: #333; float: left;}
.content{width: auto; margin-left: 150px; height: 100%; background-color: #95a5a6; padding: 0px;}
.content p{color: #424242; font-size: 0.73em;}
div#box{margin-top: 0px;}
div#box .box-top{color: #fff; text-shadow: 0px 0px 1px #ddd; background-color: #2980b9; padding: 5px; font-weight: 300;}
div#box .box-painel{width: 100%;height: auto; padding: 0px; background-color: #fff; }
div#box .box-painel #slider1{width: 100%;}
div#box .box-painel .rslides {position: relative; list-style: none; overflow: hidden; width: 100%; padding: 0; margin: 0;}
div#box .box-painel .rslides li {-webkit-backface-visibility: hidden; position: absolute; display: none; width: 100%; left: 0; top: 0; }
div#box .box-painel .rslides li:first-child {position: relative; display: block; float: left;}
div#box .box-painel .rslides img { display: block; height: auto; float: left; width: 100%; border: 0;}
div#box .box-painel .cadastro{text-align: center;}
div#box .box-painel .cadastro input{width: 30%; height: 5%; font-size: 16px; margin-bottom: 20px;}

div#header nav ul{list-style: none; margin: 0; text-align: center; padding: 10px 0px; }
div#header nav li{display: inline-block; background-color: #ff5c00; border-radius: 10px; padding: 6px 10px; margin: 0px 6px;}
div#header nav li a{color: #fff;}
div#header nav li:hover{background-color: blue; color: #fff;}

.adm{margin: 0; padding: 0; float: right; }
.adm li {display: inline-block; padding: 6px 8px;  margin: 10px 5px;background-color: #ff5c00; border-radius: 10px;}
.adm li a{color: #fff;}
.adm li:hover{background-color: blue; color: #fff;}

ul#sidebar-nav{}
ul#sidebar-nav li{list-style: none;}
ul#sidebar-nav li a{color: #ccc; display: block; padding: 10px; font-size: 1.2em; background-color: #555; border-bottom: 1px solid #171717; -webkit-transition: 0.2s; -moz-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s;}
ul#sidebar-nav li a span{margin-right: 15px;}
ul#sidebar-nav li a:hover{background-color: #ff5c00; color: #fff; padding-left: 30px;}
.container{padding-top: 0px;}
.principal h1{margin: 0px; padding: 0px;}
.principal{padding: 0px 15px; text-align: center; height: auto;}

.footer{width: 100%; height: auto; background: #333;}
.alert-success {color: #468847;background-color: #dff0d8;border-color: #d6e9c6;}
.alert-danger{color: #b94a48; background-color: #f2dede; border-color: #ebccd1;}
.text-danger{color: #b94a48;}
table {border-collapse: collapse; border-spacing: 0;}
.table td,
.table th {background-color: #fff !important;}
.table-bordered th,
.table-bordered td {border: 1px solid #ddd !important;}
table {max-width: 100%; background-color: transparent; }
.table {width: 100%; margin-bottom: 24px;}
.table_produtos {width: 100%; margin-bottom: 20px;}
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {padding: 8px; line-height: 1.428571429; vertical-align: top; border-top: 1px solid #dddddd;}
.table > thead > tr > th{padding-bottom: 8px; padding-top: 8px; padding-right: 8%; line-height: 1.428571429; vertical-align: top; border-top: 1px solid #dddddd;}
.form-control {display: block; width: 100%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.428571429; color: #555555; vertical-align: middle; background-color: #ffffff; background-image: none; border: 1px solid #cccccc; border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-categoria{display: block; width: 30%; height: 30px; padding: 6px 12px; font-size: 14px; line-height: 1.428571429; color: #555555; vertical-align: middle; background-color: #ffffff; background-image: none; border: 1px solid #cccccc; border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.btn {border-top-color: #000 !important;}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table-bordered {
    border: 0;
  }
.table-bordered > thead > tr > th:first-child,
.table-bordered > tbody > tr > th:first-child,
.table-bordered > tfoot > tr > th:first-child,
.table-bordered > thead > tr > td:first-child,
.table-bordered > tbody > tr > td:first-child,
.table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
.table-bordered > thead > tr > th:last-child,
.table-bordered > tbody > tr > th:last-child,
.table-bordered > tfoot > tr > th:last-child,
.table-bordered > thead > tr > td:last-child,
.table-bordered > tbody > tr > td:last-child,
.table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
.table-bordered > tbody > tr:last-child > th,
.table-bordered > tfoot > tr:last-child > th,
.table-bordered > tbody > tr:last-child > td,
.table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }

.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #d2322d;
  border-color: #ac2925;
}

.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn{border-top-color: #000 !important;}
