body{
	margin: 0;
	padding: 0;
	outline: none;
	font-family: "Calibri";
}

.txt{
	height: 35px;
	width: 250px;
	border: none;
	border-radius: 5px;
	background-color: #EEE;
	padding: 4px;
}

.txt:hover{
	background-color: #CCC;
}

#cad_table{
	height: 80%;
	margin: 0 auto;
	padding: 10px;
	border: none;
	margin-top: 0px;
}
#cad_tabla_prod{
	height: 34%;
	margin: 0 auto;
	padding: 10px;
	border: none;
	margin-top: 0px;
}
#btnCad{
	width: 100px;
	height: 30px;
	background-color: #EFEFEF;
	border-radius: 4px;
	border: 1px solid #CCC;
}

.btn{
	width: 100px;
	height: 30px;
	background-color: #EFEFEF;
	border-radius: 4px;
	border: 1px solid #CCC;
}

#login_table{
	height: 200px;
	margin: 0 auto;
	padding: 10px;
	border: none;
	margin-top: 250px;
}